@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  font-family: "Nunito", sans-serif;
}

.section {
  @apply h-full;
}

.section-title {
  @apply mx-auto text-center text-4xl max-xl:text-3xl font-bold pt-24 mb-10 text-bright-purple;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply hover:text-[#d268cc];
}

.gradient-hr {
  height: 5px; /* Set the thickness of the line */
  border: none; /* Remove default border */
  background: linear-gradient(#f539eb, #ffa7f8);
}

.gradientbg {
  background: linear-gradient(#deb8f5, #ba42c0);
}

.borderstyle {
  border-color: #d268cc !important;
}

.item {
  @apply flex justify-center items-center flex-col bg-bright-purple p-5 m-4 rounded-md bg-gradient-to-br from-[#111] to-[#333];
}

.itemtext {
  @apply lg:text-xl md:text-lg text-base font-bold mt-3;
}

.card__inner {
  @apply grid grid-cols-2 items-center bg-[#222] rounded-xl;
}

.project-title {
  @apply col-span-2 lg:col-span-1 text-justify p-10 text-lg max-lg:text-base;
}

.project-title-title {
  @apply text-3xl max-lg:text-2xl text-bright-purple font-bold text-start;
}

.project-img {
  @apply col-span-2 lg:col-span-1 flex items-center justify-center;
}

.blur {
  @apply blur-sm;
}

.project-img-fw {
  @apply grayscale-[90%] hover:grayscale-0 transition duration-300;
}
